:root {
  --background: rgba(13, 117, 65, 0.589);
  font-size: 15px;
}

* {
  margin: 0;
  padding: 0;
  /* background: var(--background); */
}

.main-container {
  display: grid;
  grid-template-areas:
    "header header header"
    "left-aside main right-aside"
    "nav main right-aside"
    "footer footer footer";
  grid-template-columns: 2fr 5fr 2fr;
  grid-template-rows: 1fr 1fr 5fr;
}

header {
  grid-area: header;
  background-color: burlywood;
  display: flex;
  justify-content: center;
}

footer {
  grid-area: footer;
  background-color: burlywood;
}

aside.right-aside {
  grid-area: left-aside;
  background-color: aqua;
}

nav {
  grid-area: nav;
  background-color: bisque;
}

aside.right-aside {
  grid-area: right-aside;
  background-color: aqua;
}

main {
  grid-area: main;
  background-color: chocolate;
}
